* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*Navbar section*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    height: 630px;
    justify-content: center;
    align-items: center;
    color: black;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(images/home2.jpg);
    background-position: center;
    background-size: cover;
    height: 630px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
   /* border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 40%;
}

.headings{
    font-family: century;
    font-size: 45px;
    text-align: center;
}

.btn{
    padding: 10px 35px;
    margin: 15px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white;
    font-weight: bold;
}

/*About section*/
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
    margin-bottom: 50px;
    background: #FAF6F2;
}

#my-skills{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ame{
    padding-bottom: 35px;
    padding-top: 30px;
    text-align: center;
}

.tech-skills, .soft-skills{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;    
}

.tech-skills{
    text-align: center;
}
.soft-skills{
    text-align: center;
}

#my-skills h1{
    margin: 10px 0;  
}

#my-skills p{
    line-height: 35px;
}


/*Portfolio section*/
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: #EFD4CB;
    color: #2B3034;
    align-items: center;
    padding: 20px;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

.gallery img:hover{
    cursor: pointer;
    box-shadow: 0 0 5px white;
}

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background-color: #FAF6F2;
}

.contact-form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#message{
    width: 30%;
    padding: 12px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 20px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}


.site, .code{
        padding: 10px 35px;
        margin: 15px 15px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        outline: none;
        transition: .6s ease;
}
.code:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 0 0 5px white;
        font-weight: bold;
    }
.site:hover{
    cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 0 0 5px white;
        font-weight: bold;
}

.proj p{
    margin-left: 10px;
}

.socials{
    text-align: right;
    margin-right: 25px;
}

.socials ion-icon{
    font-size: 40px;
}

#details{
    text-align: center;
}

/*Responsiveness*/
@media screen and (max-width: 770px){
    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .input{
        width: 60%;
    }
    #message{
        width: 60%;
    }
    #send{
        width: 20%
    }
    .tech-skills{
        text-align: center;
    }
    .soft-skills{
        text-align: center;
    }
}

@media screen and (max-width: 530px){
    #home{
        height: 440px;
    }
    .gallery img{
        width: 275px;
        height: 150px;
        margin: 10px;
    }
    .site, .code{
        padding: 5px 25px;
        margin: 8px 8px;}
}
